{% extends "base.html" %}


{% block page_title %} {{block.super}} @{{object.username}}{% endblock page_title %}

{% block title %}Accueil{% endblock title %}

{% block ajax_script %}

  <script> //Must load ajax_list_functions.js

  $(document).on("ready",function(){ // when the document is fully loaded do the lambda expression
    postContainer     = $('#post-container');
    var fetchDataUrl  = postContainer.attr("fetch-post-url");
    initAjaxListVariables('post-container', fetchDataUrl); // init list variables
    initPostListDisplay(); //Fetch posts and display them

  });

  </script>



{% endblock ajax_script %}
{% block content %}

  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <div class="profile-header-container">
        <div class="profile-header-img col-sm-2">
            <img class="img-square" src="{{object.profile.get_img_url}}" />
            <div class="rank-label-container">
                <span class="label label-default profile">{{object.username}}</span>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <span> Nom : {{object.last_name}} </span></br>
      <span> Prénom : {{object.first_name}} </span></br>
      <span> Statut : {{object.profile.status}} </span></br>
      <span> Email : {{object.email}} </span></br>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-1">
      </br></br>
      <ul class="list-group list-group-same-size">
      <h4 class="nav-header disabled"> Membre dans: </h4>
        {% for group in object.profile.get_groups %}
          <a class="list-group-item hvr-icon-forward" href="{{group.get_absolute_url}}">{{group}} <i class="pull-right fa fa-chevron-circle-right hvr-icon"></i></a>
        {% endfor %}
      </ul>

    </div>
    <div class="media col-sm-8 ">
      <div class="media-body" >
        <p id="post-container"
                class        ='wrap-text'
                fetch-post-url ="{{fetch_post_url}}">


        </p>
      </div>
    </div>
  </div>




{% endblock content %}
