<div class="row">
  <div class='col-sm-12 text-center'>
    <form class="form" method="post">
      {% csrf_token %}
      Sure you want to delete "{{object}}"?</br>
      <input type="submit" value="Yes"/>
    </form>
  </div>
</div>
