{% load static %}
<head>
  <style>
  </style>
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<!-- <div class="container"> -->
	<div class="row">
        <div class="profile-header-container">
    		<div class="profile-header-img col-sm-2">
                <img class="img-circle" src="{{profileImgUrl}}" />
                <!-- badge -->
                <div class="rank-label-container">
                    <span class="label label-default rank-label">{{username}}</span>
                </div>
            </div>
        </div>
	</div>
<!-- </div> -->



<!--
<div class="row">
      <div class="profile-header-container">
      <div class="profile-header-img col-sm-2">
              <img class="img-circle" src="{{username}}.png" />
              badge
              <div class="rank-label-container">
                  <span class="label label-default rank-label">{{username}}</span>
              </div>
          </div>
      </div>
</div> -->
