
{% extends "base.html" %}


{% block page_title %} {{block.super}} Modification{% endblock page_title %}

{% block title %}{% endblock title %}

{% block ajax_script %}

  <script> //Must load ajax_list_functions.js

  $(document).on("ready",function(){ // when the document is fully loaded do the lambda expression
    listenToProfile();
  });

  </script>



{% endblock ajax_script %}
{% block content %}

  <div class="row">
    <div class="col-sm-6 col-sm-offset-4">
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-1 col-sm-offset-1">
    </br>
    </div>
    <div class="media col-sm-8">
      <div class="media-body" >

        {% load crispy_forms_tags %}
        <h2> Modifier mes données: </h2></br>
        <form id = 'user-form' class="{{form_class}}" method="POST" action="" enctype="multipart/form-data">
          {% csrf_token %}
          {{ value|linebreaks }}
            {{form | crispy}}
            <div class="row">

              <div class='col-sm-2 '>
                <input class="btn btn-primary submit_form" id="submit_form" type="submit" value="Appliquer"/>
              </div>


            </div>
          </br>
          </br>
        </form>
        <em style="color:red;"> NB: Les champs vides seront ignorés. </em>
      </br>
    </br>



      </div>
    </div>
  </div>




{% endblock content %}
