{% extends "base.html" %}

{% block page_title %} {{block.super}} Connexion{% endblock page_title %}


{% block ajax_script %}
<script> //Must load list_tweet.js

$('#rci-container').hide();
$('#rci-navbar').hide();
$(document).on("ready",function(event){

  $('form input').addClass('form-control');
  $('#general-container').removeClass('container');


  $('#rci-container').slideDown('slow');
  $('#rci-navbar').fadeIn('slow');

  $('#login-form').on("submit", function(){
    $('#rci-container').slideUp('slow');
  });


})
</script>

{% endblock %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3 text-center container">
  <h1> Se connecter </h1>
{% if form.errors %}
<p>Erreur. votre nom d'utilisateur ou mot de passe est incorrect</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Connectez-vous pour continuer.</p>
    {% endif %}
{% endif %}

<form id="login-form" method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="form-group">
  {{ form.username.label_tag }}</br>
  {{ form.username }}
</div>
<div class="form-group">
  {{ form.password.label_tag }}</br>
  {{ form.password }}
</div>

  <button type="submit" class="btn btn-default" />Connexion </button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">mot de passe perdu ? (pas encore traité)</a></p>
</div>
{% endblock %}
