{% extends "base.html" %}

{% block page_title %} {{block.super}} Inscription{% endblock page_title %}

{% block title %}Register{% endblock title %}
{% block ajax_script %}
<script> //Must load list_tweet.js

$('#rci-container').hide();
$('#rci-navbar').hide();
$(document).on("ready",function(event){

  $('#rci-container').fadeIn('slow');
  $('#rci-navbar').fadeIn('slow');

  $('#register').on("submit", function(){
    $('#rci-container').slideUp('slow');
    sleep(1000);
  });
})
</script>

{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>Créer un compte </h2>
    {% load crispy_forms_tags %}
    <div class="row">
      <div class='col-sm-12 '>
        <form id = 'register' {% if form_class %} class="{{form_class}}" {% endif %}  class="form" action="{% if action_url %}{{action_url}}{% endif %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
            {{form | crispy}}
            <div class="row">

              <div class='col-sm-2 '>
                <input class="btn btn-primary" id="submit_form" type="submit" value="S'enregistrer"/>
              </div>



            </div>
          </br>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
