{% extends "base.html" %}


{% block page_title %} {{block.super}} {{object.name}}{% endblock page_title %}

{% block title %}Accueil{% endblock title %}

{% block ajax_script %}

  <script> //Must load ajax_list_functions.js

  $(document).on("ready",function(){ // when the document is fully loaded do the lambda expression

    var selectGroup   = $('#post-form').find('select');
    var postContainer = $('#post-container');
    var fetchDataUrl  = postContainer.attr("fetch-post-url");
    var postDataUrl   = postContainer.attr("create-post-url");
    var grouName      = postContainer.attr("group-name");
    var groupId       = postContainer.attr("group-id");
    selectGroup.val(groupId); selectGroup.hide();
    initAjaxListVariables('post-container', fetchDataUrl, postDataUrl); // init list variables
    initAjaxGroupVariables(groupName,DisplayMode='group-display'); // init group variables
    initPostListDisplay(); //Fetch posts and display them
    setPostFormRemainingChars();
    listenToGroup();
    setPostCreateDisplay();
  });

  </script>



{% endblock ajax_script %}
{% block content %}
  {% if request.user.profile in object.get_members %}

    <div class="row">
      <div class="col-sm-3 col-sm-offset-1">
        <h1> {{object}} </h1>
        <b> Desctiption: </b> </br>
        <p> {{object.description}} </p>



        <div class="dropdown">
          <a href="" class="dropdown-toggle transparent-btn hvr-overline-from-left" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modérateurs du groupe</a>
          <ul class="dropdown-menu">
            {% for moderator in object.get_moderators %}
              <li>
                <a class=" " href="{{moderator.profile.get_absolute_url}}"> {{moderator}}
                <!-- <i class="pull-right fa fa-chevron-circle-right hvr-icon"></i> -->
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </br>
      {% if request.user not in object.get_moderators and request.user not in object.get_moderators_asks%}
        <div action-url="{% url 'api-group:demand_moderate' username=request.user.username name=object.name %}" group-name="{{object.name}}" user-username="{{request.user.username}}">
          <a href="#" type="group-demand-access" class="transparent-btn hvr-overline-from-left group-moderate-management-btn"> Devenir modérateur</a>
        </div>
      {% endif %}
      </div>
      <div class="col-sm-6">
        {% if not request.GET.q %}
            {% if request.user.profile in object.get_members %}

              <div class="">
                {% include 'post/form.html' with action_url=create_post_url form=post_form submit_value="Publier" form_class="post_form_class" %}
              </div>
            {% endif %}
        {% else %}
        <div class="">
          <h5>Research results:</h5>
        </div>
        {% endif %}
      </div>

    </div>
    <hr/>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">

      </br>

      <div class="list-group">
        {% if request.user in object.get_moderators%}
          {% if object.get_join_asks %}
          <a class="  list-group-item" id='show-members-request-btn' href="#" >Demandes<span class="badge blue-back-color"> {{object.get_join_asks.count}} </span>
          </a>
          {% endif %}
          {% if object.get_moderators_asks %}
          <a class="  list-group-item" id='show-moderators-request-btn' href="#" >Demandes de modération<span class="badge blue-back-color"> {{object.get_moderators_asks.count}} </span>
          </a>
          {% endif %}
        {% endif %}
        <!-- <li class="list-group-item"> -->
          <a class="  list-group-item" id='show-members-btn' href="#" > Membres du groupe</a>
        <!-- </li> -->
    </div>

      </div>
      <div class="media col-sm-8 ">
        <div class="media-body" >
          <p id="post-container"
                  class        ='wrap-text'
                  fetch-post-url ="{{fetch_post_url}}"
                  create-post-url="{{create_post_url}}"
                  group-name   ="{{object.name}}"
                  group-id     = "{{object.pk}}">

          </p>
        </div>
      </div>
    </div>

  {% else %}
    <h3 style="text-align:center"> <i class='fa fa-ban fa-5x'></i> Vous n'avez pas le droit de visualiser ce contenu </h3>
    </br>
    </br>

    </br>
    </br>
    </br>
    <div action-url="{% url 'api-group:demand' username=request.user.username name=object.name %}" group-name="{{object.name}}" user-username="{{request.user.username}}" class="col-sm-5 col-sm-offset-2">

      <h5> Veuillez demander à être ajouté ou groupe pour pouvoir y accéder </h5>
      <a href="#" type="group-demand-access" class="group-access-management-btn link-btn hvr-float"> Demande
        <i class='fa fa-user-plus'></i>
      </a> d'ajout au groupe {{object.name}}
    </div>
    </br>
    </br>
    </br>
    </br>
  {% endif %}

  {% include 'group/group_members_modal.html' with request_user=request.user group_moderators=object.get_moderators group_members=object.get_members group_name=object.name %}
  {% include 'group/group_ask_join_modal.html' with request_user=request.user group_join_asks=object.get_join_asks group_name=object.name %}
  {% include 'group/group_ask_moderate_modal.html' with request_user=request.user group_moderators_asks=object.get_moderators_asks group_name=object.name %}
  

{% endblock content %}
