<div class="modal fade" id="ask-moderate-modal"
 tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="reply-form-header">Demandes de modération du groupe {{group_name}} :</h5>
          <hr>
        </div>

        <div class="modal-body">
          <ul class="list-group scroll-list">
          </h4> Demandes de la part de: </h4>
              </br></br>
              {% for user in group_moderators_asks %}
                <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-2 ">
                        <a href = "{{user.profile.get_absolute_url}}">
                          <div class="row">
                          		<div class="profile-header-img col-sm-2 ">
                                <img class="img-min" src="{{user.profile.get_img_url}}" />

                              </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-4 in-line">
                        <a href="{{user.profile.get_absolute_url}}"> {{user}} </a>
                        <div action-url="{% url 'api-group:add_moderator' username=user.username name=group_name %}" group-name="{{group_name}}" user-username="{{user.username}}">
                          <a href="#" class="group-moderate-management-btn hvr-grow" >
                            <i class="fa fa-check green-color" ></i>
                          </a>
                        </div>
                        <div action-url="{% url 'api-group:remove_demand_moderate' username=user.username name=group_name %}" group-name="{{group_name}}" user-username="{{user.username}}">
                          <a href="#" class="group-moderate-management-btn hvr-grow" >
                            <i class="fa fa-trash red-color" ></i>
                         </a>
                        </div>
                      </div>
                    </div>
                </li>
              {% endfor %}

          </ul>
        </div>





      </div>

    </div>
  </div>
</div>
