<div class="modal fade" id="members-modal"
 tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="reply-form-header">Membres du groupe {{group_name}} :</h5>
          <hr>
        </div>

        <div class="modal-body">
          <ul class="list-group scroll-list">
              </h4> Membres: </h4>
              </br></br>
              {% for profile in group_members %}
                <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-2 ">
                        <a href = "{{profile.get_absolute_url}}">
                          <div class="row">
                          		<div class="profile-header-img col-sm-2 ">
                                <img class="img-min" src="{{profile.get_img_url}}" />

                              </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-2 in-line">
                        <div action-url="{% url 'api-group:remove_user' username=profile.user.username name=object.name %}" group-name="{{object.name}}" user-username="{{profile.user.username}}">
                          <a  href="{{profile.get_absolute_url}}">
                            {{profile}}
                          </a>
                          {% if request_user in group_moderators and profile.user not in group_moderators%}
                            <a href="#" class="group-access-management-btn top-left-corner hvr-grow">
                              <i class="fa fa-remove red-color" ></i>
                            </a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                </li>
              {% endfor %}

          </ul>
        </div>





      </div>

    </div>
  </div>
</div>
