<div class="modal fade" id="repost-modal"
 tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="repost-form-header">Partager :</h5>
        <hr size="50">
          <div  >
            <em id="post-to-repost">
            </em>
          </div>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id = 'repost' class = 'repost-form'>
            {% csrf_token %}
            <select id = "repost-group-select" class= "form-control" >
              {% for group in groups %}
                <option> {{group}} </option>
              {% endfor %}

            </select>
            <div class="row">
              <div class='col-sm-1 col-sm-offset-9 '>
              </br>
              </div>
            </div>
            <div class="row">
              <div class = 'col-sm-2 '>
                <input class="btn btn-primary" id="submit_repost_form" type="submit" value="Partager"/>
              </div>
              <div class = 'col-sm-1  col-sm-offset-8'>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              </div>
            </div>
          </form>
        </div>





      </div>

    </div>
  </div>
</div>
