
{% extends "base.html" %}


{% block page_title %} {{block.super}} Suppression{% endblock page_title %}

{% block title %}{% endblock title %}

{% block ajax_script %}

  <script> //Must load ajax_list_functions.js

  $(document).on("ready",function(){ // when the document is fully loaded do the lambda expression
    var labelGroup   = $('#post-form').find('label');
    labelGroup.hide()
  });

  </script>



{% endblock ajax_script %}
{% block content %}

  <div class="row">
    <div class="col-sm-6 col-sm-offset-4">

      {% if request.GET.q %}
      <div class="">
        <h5>Research results:</h5>
      </div>
      {% endif %}
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-1 col-sm-offset-1">
    </br>
    </div>
    <div class="media col-sm-8">
      <div class="media-body" >
        <p id="post-container"
                class='wrap-text'
                get-data-url="{{fetch_post_url}} ">

                <div class="row">
                  <div class='col-sm-12 text-center'>
                    <form class="form" method="post">
                      {% csrf_token %}
                      Voulez-vous vraiment supprimer "{{object}}"?</br>
                      <input type="submit" value="Oui"/>
                    </form>
                  </div>
                </div>

        </p>

      </div>
    </div>
  </div>




{% endblock content %}
<div class="row">
  <div class="col-sm-2 col-sm-offset-1">
    <h5>{{object.user.username}} </h5>
  </div>
    <div class="col-sm-8 " id='post'>
      <span id = 'post-content' >  {{object.content}}  </span></br>
      Il y a  {{object.timestamp}}  |
      <a href='{{object.group.absolute_url}}'> {{object.group}} </a> |
      <a href='#'> Info </a> |
      <a href='#'> UP </a>  |
      <a href='#' class='comment-show-btn' post-id="{{object.pk}}"> Comments </a>
      <row>
        <div class=' ' id='comments-of-post{{object.pk}}'>
        </div>
        <a id='more-comments-btn{{object.pk}}' post-id="{{object.pk}}" class='more-comments-btn'>  </a>
      </row>
      </br>
    </div>
  </div>
  <hr/>
</div>
