{% load crispy_forms_tags %}

<form id = 'post-form' class="{{form_class}}" method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  {{ value|linebreaks }}
    {{form | crispy}}
    <div class="row">

      <div class='col-sm-2 '>
        <input class="btn btn-primary submit_form" id="submit_form" type="submit" value="{{submit_value}}"/>
      </div>

      <div class='col-sm-1 col-sm-offset-8 '>
        <span class='post-chars-left' > </span>
      </div>

    </div>

</form>
