<div class="modal fade" id="post-img-modal"
 tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
        <div class="modal-body ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <img class="post-img" id='post-img-display' src='#' />
        </div>






    </div>
  </div>
</div>
