
<div class="modal fade" id="post-file-modal"
 tabindex="-1" role="dialog" aria-hidden="true" class="center-width">
  <!-- <div class=" modal-dialog" role="document"> -->
    <div style="width:95%;height:95%;" class=" modal-content ">
        <div style="width:99%;height:95%;" class="modal-body ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <embed id='post-file-display' src="" width="100%" height="100%" />
          <div id='post-file-download' class="center-div text-center">
            <i class="fa fa-frown-o fa-7x" > </i>
            <h3> Désolé, le fichier ne peut pas être affiché à cause de l'extension </h3>
            <p>Vous pouvez toujours le télécharger ici </p>
            <a id='post-file-download-link' href="" download >
              <i class="fa fa-download fa-5x"> </i>
            </a>
          </div>
        </div>






    </div>
  <!-- </div> -->
</div>
