{% extends "base.html" %}


{% block page_title %} {{block.super}} Publication{% endblock page_title %}

{% block title %}{{object}}{% endblock title %}

{% block ajax_script %}


  <script> //Must load ajax_list_functions.js


  $(document).on("ready",function(){ // when the document is fully loaded do the lambda expression
    var fetchDataUrl        = $('#post-container').attr("get-data-url");
    var detailPostContent   = $('#detail-post-content');

    initAjaxListVariables('post-container', fetchDataUrl); //| from ajax_list_functions.js |  init variables
    initPostListDisplay(); //Fetch posts and comments and display them
    initAjaxPostVariables('post-display');
    // Must load ajax_post_functions.js
    listenToPost();       //Listen to interactions with the post detail
    setPostFormRemainingChars();
    listenToGroup();

    var detailPostContentText =detailPostContent.text();//saving content
    detailPostContent.text(""); // deleting the content
    detailPostContent.append(updateHashLinks(detailPostContentText)); //update hashlinks of the content

  });


  </script>



{% endblock ajax_script %}
{% block content %}

{% if request.user.profile in object.group.get_members %}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-4">

      {% if request.GET.q %}
      <div class="">
        <h5>Research results:</h5>
      </div>
      {% endif %}
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-1 col-sm-offset-1">

    </br>
    </div>
    <div class=" col-sm-8">

        <div class="row">
          <div class="col-sm-3 col-sm-offset-1">
            <a href = "{{object.user.profile.get_absolute_url}}">
              <div class="row">
                <div class="profile-header-container">
              		<div class="profile-header-img col-sm-2 ">
                    <img class="img-circle" src="{{object.user.profile.get_img_url}}" />
                    <div class="rank-label-container">
                      <span class="label label-default rank-label"> {{object.user.username}} </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-7 " id='post'>
            {% if object.parent %}
              {% if object.is_repost %}
                <span class='grey-color' id ='repost-parent' >Partagé | Auteur:
                  <a href="{{object.parent.user.profile.get_absolute_url}}">{{object.parent.user}}</a>
                  Il y a  {{object.parent.timestamp | timesince}}  |
                  <a href='{{object.group.absolute_url}}'> {{object.parent.group}} </a>
                </span></br>
              {% elif object.is_reply %}
                <span class='grey-color' id ='reply-parent' >Réponse à la
                  <a href="{{object.parent.get_absolute_url}}">publication </a>
                  Il y a  {{object.parent.timestamp | timesince}}
                </span></br>
              {% endif %}
            {% endif %}

            <span id = 'detail-post-content' class='break-words' >  {{object.content}}  </span></br>
            {% if object.photo %}
              <a id='detail-post-img' class='post-img-btn' href='#'>
                <img class='post-img' src="{{object.get_img_url}}"/></br>
              </a>
            {% endif %}
            {% if object.file %}
              </br>
              <a id='detail-post-file' file-url="{{object.get_file_url}}"  class='post-file-btn hvr-shadow' href='#'>
                <i class='fa fa-file-text-o fa-3x'></i>
              </a>
              </br>
              </br>
              </br>
            {% endif %}
            Il y a  {{object.timestamp | timesince}}</br>
            <a class="link-btn hvr-shadow" href='{{object.group.get_absolute_url}}'> {{object.group}} </a>
            {% if request.user in object.uppers.all %}
              <a class="link-btn hvr-icon-down post-up-btn" href='#'  up-post-url='{{object.get_up_url}}'>  <i class="fa fa-arrow-circle-o-down hvr-icon"></i> </a> ( <span>{{object.uppers.all.count}}</span> )
            {% else %}
              <a class="link-btn hvr-icon-up post-up-btn" href='#'  up-post-url='{{object.get_up_url}}'>  <i class="fa fa-arrow-circle-o-up hvr-icon"></i> </a> ( <span>{{object.uppers.all.count}}</span> )
            {% endif %}

            <div>
              <button class="btn comment-show-btn rounded bottom-left-corner hvr-icon-down" post-id="{{object.pk}}" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Commentaires <i class="fa fa-chevron-down hvr-icon"></i>
              </button>
                <form class='comment-form' method='POST' post-id="{{ object.pk }}" style='display:none;' id='comment-form-of-post{{ object.pk }}' create-comment-url ='{{object.get_create_comment_url}}'>
                  <hr>
                  <textarea cols='50' rows='3' placeholder='Votre commentaire' style='resize:none;color:black' id='comment-content-of-post{{ object.pk }}'></textarea> </br>
                  <input  class='btn btn-primary comment-btn' post-id="{{ object.pk }}" id='submit-comment-of-post"{{ object.pk }}' type='submit' value='Commenter' style='' />
                </form>
                <div class=' ' id='comments-of-post{{object.pk}}'>
                </div>
                <a id='more-comments-btn{{object.pk}}' post-id="{{object.pk}}" class='more-comments-btn'>  </a>
              </br>
              </br>
              </br>
            </div>
            </br>
          </div>
          <div class="col-sm-1">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown" style="overflow:visible">
                    <button  type="button" class="dropdown-toggle transparent-background hvr-icon-grow" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars hvr-icon"></i></button>
                    <ul class="dropdown-menu">
                      {% if request.user == object.user %}
                        <li><a href='{{update_url}}'><i class='fa fa-pencil '>  Modifier</i></a></li>
                        <li><a href='{{delete_url}}'><i class='fa fa-trash '></i>  Supprimer</a></li>
                        <li role="separator" class="divider"></li>
                      {% endif %}
                      <li><a href='#' repost-url='{{repost_url}}' class='repost-btn' post-id="{{object.pk}}" post-to-repost-content='#detail-post-content' post-to-repost-img='#detail-post-img'><i class="fa fa-share-alt"></i> Partager  </a></li>
                      <li><a href='#' reply-url='{{reply_url}}' class='reply-btn' post-id="{{object.pk}}" post-to-reply-to-content='#detail-post-content' post-to-reply-to-img='#detail-post-img'post-user="{{object.user.username}}"><i class="fa fa-share"></i>  Répondre</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
          </div>
        </div>
          <hr>
          <p id="post-container"
                    class='wrap-text'
                    get-data-url="{{fetch_post_url}}">

          </p>

    </div>
  </div>


  {% include "post/repost_modal.html" with groups=request.user.profile.get_groups %}
  {% include "post/reply_modal.html" %}



{% else %}
  <h3 style="text-align:center"> Vous n'avez pas le droit de visualiser ce contenu </h3>
  </br>
  </br>
  </br>
  </br>
  </br>
  <div action-url="{% url 'api-group:demand' username=request.user.username name=object.group.name %}" group-name="{{object.group.name}}" user-username="{{request.user.username}}" class="col-sm-5 col-sm-offset-2">

    <h5> Veuillez demander à être ajouté ou groupe pour pouvoir y accéder </h5>
    <a class="link-btn" href="#" class="group-access-management-btn"> Demande  </a> d'ajout au groupe {{object.group.name}}
  </div>
  </br>
  </br>
  </br>
  </br>
{% endif %}


{% endblock content %}
