{% extends "base.html" %}


{% block page_title %} {{block.super}} Accueil{% endblock page_title %}

{% block title %}Accueil{% endblock title %}

{% block ajax_script %}

  <script> //Must load ajax_list_functions.js and other js

  $('#rci-container').hide();
  $('#rci-container').slideDown('fast');
  $(document).on("ready",function(){ // when the document is fully loaded do the lambda expression
    var labelGroup   = $('#post-form').find('label');
    // labelGroup.hide();
    var fetchDataUrl  = $('#post-container').attr("get-data-url");
    var postDataUrl  = $('#post-container').attr("post-data-url");

    initAjaxListVariables('post-container', fetchDataUrl, postDataUrl); //| from ajax_list_functions.js |  init variables
    initPostListDisplay(); // | from ajax_post_functions.js | Fetch posts and display them
    setPostFormRemainingChars(); // | from extra.js |to set the display of remaining chars to type
  });

  </script>



{% endblock ajax_script %}
{% block content %}


  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <div class="profile-header-container">
        <div class="profile-header-img col-sm-2">
            <img class="img-square" src="{{request.user.profile.get_img_url}}" />
            <div class="rank-label-container">
                <span class="label label-default profile">{{request.user.username}}</span>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2> Accueil </h2>

    </div>
    <div class="col-sm-4">
      <em >
        Date de la dernière connexion : {{request.user.profile.last_visit}}</br>
        Date de la session : {{request.user.last_login}}
      </em>
    </div>

  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-">
      </br></br>
      <ul class="list-group list-group-same-size">
      <h4 class="nav-header disabled"> Groupes : </h4>
        {% for group in request.user.profile.get_groups %}
          <a class="hvr-icon-forward list-group-item list-group-item-same-siz" href="{{group.get_absolute_url}}">{{group}}
            <i class="pull-right fa fa-chevron-circle-right hvr-icon"></i>
            {% if request.user in group.get_moderators %}
              {% with num_join_asks=group.get_join_asks.count num_moderators_asks=group.get_moderators_asks.count %}
                {% if num_join_asks|add:num_moderators_asks == 0 %}
                  <span class="badge">{{num_join_asks|add:num_moderators_asks}}</span>
                {% else %}
                  <span class="badge blue-back-color">{{num_join_asks|add:num_moderators_asks}}</span>
                {% endif %}
              {% endwith %}
            {% endif %}
          </a>
        {% endfor %}
      </ul>
    </div>
    <div class="media col-sm-9 col-sm-offset-">
      <div class="media-body" >
        <p id="post-container"
                class='wrap-text'
                get-data-url="{{fetch_post_url}}"
                post-data-url="{{create_post_url}} ">

        </p>
      </div>
    </div>
  </div>




{% endblock content %}
