<div class="modal fade" id="reply-modal"
 tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="reply-form-header">Répondre :</h5>
          <hr>
          <div>
            <em id="post-to-reply-to">
            </em>
            <div id="post-to-reply-to-img">
            </div>
          </div>


        </div>
        <div class="modal-body">
          <form id = 'reply' class = 'reply-form post_form_class'>
            {% csrf_token %}
            <textarea style="resize:none" id = "reply-content" class= "form-control" >

            </textarea>
            </br>
            <div class='col-sm-1 col-sm-offset-9 '>
              <span class='post-chars-left' > 0 </span>
            </div>
            </br>
            </br>
            <div class="row">
              <div class = 'col-sm-2 '>
                <input class="btn btn-primary submit_form" id="submit_reply_form" type="submit" value="Répondre"/>
              </div>
              <div class = 'col-sm-1  col-sm-offset-8'>
                <button  type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              </div>
            </div>
          </form>
        </div>
        <div class='col-sm-1 col-sm-offset-9 '>
          <span class='post-chars-left' > </span>
        </div>





      </div>

    </div>
  </div>
</div>
