{% extends "base.html" %}


{% block page_title %} {{block.super}} #{{object.tag}}{% endblock page_title %}

{% block title %}{{object}}{% endblock title %}

{% block ajax_script %}


  <script> //Must load ajax_list_functions.js


  $(document).on("ready",function(){ // when the document is fully loaded do the lambda expression
    var fetchDataUrl        = $('#post-container').attr("get-data-url");
    var detailPostContent   = $('#detail-post-content');

    initAjaxListVariables('post-container', fetchDataUrl); //| from ajax_list_functions.js |  init variables
    initPostListDisplay(); //Fetch posts and comments and display them
    // Must load ajax_post_functions.js
    listenToPost();       //Listen to interactions with the post detail

    var detailPostContentText =detailPostContent.text();//saving content
    detailPostContent.text(""); // deleting the content
    detailPostContent.append(updateHashLinks(detailPostContentText)); //update hashlinks of the content
  });

  </script>



{% endblock ajax_script %}
{% block content %}

  <div class="row">
    <div class="col-sm-6 col-sm-offset-4">

      {% if request.GET.q %}
      <div class="">
        <h5>Research results:</h5>
      </div>
      {% endif %}
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-1 col-sm-offset-1">
    </br>
    </div>
    <div class="media col-sm-8">
      <div class="media-body" >

        <div class="row">

            <div class="col-sm-8 " id='hashtag'>
                <h1> Hashtag : #{{object.tag}} </h1>
            </div>
          </div><hr>
          <p id="post-container"
                    class='wrap-text'
                    get-data-url="{{fetch_post_url}}">

          </p>

      </div>
    </div>
  </div>


  {% include "post/repost_modal.html" with groups=request.user.profile.get_groups %}
  {% include "post/reply_modal.html" %}


{% endblock content %}
