{% load static %}
<!DOCTYPE html>
<html>
  <head class="settings"
                  static-url = "{% static '' %}"
                  request-user="{{request.user}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'bootstrap/css/sidebar.css' %}" >
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'hover-css/hover-min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/base_view.css' %}" >
    <link href="{%static '/home_components/img/favicon.png'%}" rel="icon">

    <title>{% block page_title %}RCI | {% endblock page_title %}</title>
    <style>



    </style>

  </head>
  <body>

    {% include "navbar.html" %}
    </br>
    <div id="rci-container" class="container-fluid ">
      <div id="general-container" class="container" >
        </br>
        {% block content %}
        {% endblock content %}
      </div>
    </div>
      {% include 'message_box.html' %}
      {% include 'message_box_confirmation.html' %}
    <div id="rci-about">
      <p>

      </p>
    </div>
    <a href="#" style="display:none;"class="stuck back-to-top"><i class=" white-color pull-right  fa fa-chevron-up hvr-float fa-3x"></i></a>

    <section id="contact">

      <!-- <div id="google-map" data-latitude="36.7683668" data-longitude="3.012260"></div> -->

      <div class="wow fadeInUp">
        <div class="row justify-content-center ">
          <div class="container-contact-us ">
            <div class="row text-center">
              <div class="center-div">
                <h3 class="section-title">À propos</h3>
              </div>
            </div>
            <div class="row">
              <div class="center-div">
                <div class="col-sm-4">
                  <h3 class="section-title">Contactez nous</h3>
                  <p class="section-description"></p>
                  <div class="info">
                    <div>
                      <i class="fa fa-map-marker"></i>
                      <span>Alger, Ben Aknoun</span></br></br>
                    </div>

                    <div>
                      <i class="fa fa-envelope"></i>
                      <span>email@rci.com</span></br></br>
                    </div>

                    <div>
                      <i class="fa fa-phone"></i>
                      <span>+213 000 000 000</span></br></br>
                    </div>
                  </div>

                  <div class="social-links">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
                <div class="col-sm-4 col-sm-offset-4">
                  <h3 class="section-title">Voir aussi</h3>
                  <p class="section-description"></p>
                  <div class="info">
                    <div>
                      <i class="fa fa-code"></i>
                      <a class="link-about-us" href="#">Code source</a></br></br>
                    </div>

                    <div>
                      <i class="fa fa-building"></i>
                      <a class="link-about-us" href="#">le site de l'entreprise</a></br></br>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

    {% include "post/post_img_modal.html" %}
    {% include "post/post_file_modal.html" %}

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'script/extra.js' %}"></script>
    <script src="{% static 'script/ajax_list_functions.js' %}"></script>
    <script src="{% static 'script/ajax_post_functions.js' %}"></script>
    <script src="{% static 'script/ajax_group_functions.js' %}"></script>
    <script src="{% static 'script/ajax_account_functions.js' %}"></script>
    <script src="{% static 'script/search.js' %}"></script>
    <script src="{% static 'script/base_view.js' %}"></script>
    {% block ajax_script %}
    {% endblock ajax_script %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

  </body>
</html>
