<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RCI | Accueil</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{%static '/home_components/img/favicon.png'%}" rel="icon">
  <link href="{%static '/home_components/img/favicon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{%static '/home_components/css/google-fonts.css'%}" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{%static '/home_components/lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{%static '/home_components/lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
  <link href="{%static '/home_components/lib/animate/animate.min.css'%}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{%static '/home_components/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img style="border-radius:8px;"src="{%static '/img/logo.png'%}" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Accueil</a></li>
          <li><a href="#about">A propos</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Equipe</a></li>
          <li class="menu-has-children "><a href="">Documents</a>
            <ul>
              <li><a href="{% static 'files/Manuel_RCI.pdf' %}">Manuel d'utilisation</a></li>
              <li class="menu-has-children"><a href="">Guide</a>
                <ul>
                  <li class="disabled-menu-item"><a >Guide vidéo</a></li>
                  <li class="disabled-menu-item"><a >Guide text</a></li>
                </ul>
              </li>
              <li class="disabled-menu-item"><a >Aide</a></li>
              <li class="disabled-menu-item"><a >FAQ</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contactez Nous</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Bienvenue à RCI</h1>
      <h2>Un réseau de communication intranet pour entreprise</h2>
      <a href="{% url 'post-list' %}" class="btn-get-started">Continuer</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!--==========================
        About Us Section
      ============================-->
      <section id="about">
        <div class="container">
          <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
              <h2 class="title">Quelques mots à propos de nous</h2>
              <p>
                Nous sommes ravis de vous avoir aidé
              </p>

              <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-align-left"></i></div>
                <h4 class="title"><a href="">Description</a></h4>
                <p class="description">description description description description description description description description description description description </p>
              </div>

              <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-inbox"></i></div>
                <h4 class="title"><a href="">Utilité</a></h4>
                <p class="description">utilité utilité utilité utilité utilité utilité utilité utilité utilité utilité utilité utilité utilité utilité utilité utilité utilité </p>
              </div>

              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-superpowers"></i></div>
                <h4 class="title"><a href="">Points forts</a></h4>
                <p class="description"> point fort point fort point fort point fort point fort point fort point fort point fort point fort point fort point fort point fort </p>
              </div>

            </div>

            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
          </div>

        </div>
      </section><!-- #about -->

      <!--==========================
     Facts Section
   ============================-->
   <!-- <section id="facts">
     <div class="container wow fadeIn">
       <div class="section-header">
         <h3 class="section-title">Facts</h3>
         <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
       </div>
       <div class="row counters">

         <div class="col-lg-3 col-6 text-center">
           <span data-toggle="counter-up">232</span>
           <p>Clients</p>
         </div>

         <div class="col-lg-3 col-6 text-center">
           <span data-toggle="counter-up">521</span>
           <p>Projects</p>
         </div>

         <div class="col-lg-3 col-6 text-center">
           <span data-toggle="counter-up">1,463</span>
           <p>Hours Of Support</p>
         </div>

         <div class="col-lg-3 col-6 text-center">
           <span data-toggle="counter-up">15</span>
           <p>Hard Workers</p>
         </div>

       </div>

     </div>
   </section> -->
   <!-- #facts -->

   <!--==========================
     Services Section
   ============================-->
   <section id="services">
     <div class="container wow fadeIn">
       <div class="section-header">
         <h3 class="section-title">Services</h3>
         <p class="section-description">Les services proposés par RCI</p>
       </div>
       <div class="row">
         <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
           <div class="box">
             <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
             <h4 class="title"><a href="">Interface utilisateur "Responsive"</a></h4>
             <p class="description">Une interface graphique pour l'utilisateur qui lui permet de faire tous ses traitements avec fluidité en s'adaptant à la taille de l'écran </p>
           </div>
         </div>
         <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
           <div class="box">
             <div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
             <h4 class="title"><a href="">Rapidité</a></h4>
             <p class="description">L'application est hébergée sur un serveur local, toute interaction avec la base de données est immédiate (téléchargement des documents, photos)</p>
           </div>
         </div>
         <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
           <div class="box">
             <div class="icon"><a href=""><i class="fa fa-suitcase"></i></a></div>
             <h4 class="title"><a href="">Traçabilité</a></h4>
             <p class="description">Un suivi complet de toute interaction administrative sur la base de données (nouveau contenu, modification, suppression)</p>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
           <div class="box">
             <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
             <h4 class="title"><a href="">Images et documents</a></h4>
             <p class="description">Partage facile des documents administratifs et images sous diverses formats (.png, .jpg, .pdf, .docx, .odf ...)</p>
           </div>
         </div>
         <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
           <div class="box">
             <div class="icon"><a href=""><i class="fa fa-lock"></i></a></div>
             <h4 class="title"><a href="">Communication sécurisée</a></h4>
             <p class="description">Tout employé ne peut visualiser que le contenu qui lui est autorisé, toute demande d'élargissement du périmètre d'information doit passer par un modérateur</p>
           </div>
         </div>
         <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
           <div class="box">
             <div class="icon"><a href=""><i class="fa fa-smile-o"></i></a></div>
             <h4 class="title"><a href="">Facilité</a></h4>
             <p class="description">Utilisation facile et simple, dérivée des concepts des réseaux sociaux utilisés</p>
           </div>
         </div>
       </div>

     </div>
   </section><!-- #services -->

   <!--==========================
   Call To Action Section
   ============================-->
   <section id="call-to-action">
     <div class="container wow fadeIn">
       <div class="row">
         <div class="col-lg-9 text-center text-lg-left">
           <h3 class="cta-title">Inscription</h3>
           <p class="cta-text"> Un administrateur doit d'abord préparer l'environnement pour l'utilisation.</p>
         </div>
         <div class="col-lg-3 cta-btn-container text-center">
           <a class="cta-btn align-middle" href="{% url 'register' %}">S'inscrire</a
         </div>
       </div>

     </div>
   </section>
   <!-- #call-to-action -->

   <!--==========================
     Team Section
   ============================-->
   <section id="team">
     <div class="container wow fadeInUp">
       <div class="section-header">
         <h3 class="section-title">Equipe de développement</h3>
         <p class="section-description">L'équipe qui a développé l'application</p>
       </div>
       <div class="row">
         <div class="col-lg-3 col-md-6">
           <div class="member">
             <div class="pic"><img src="{% static '/home_components/img/team-1.jpg' %}" alt=""></div>
             <h4>Harouit Chems Eddine</h4>
             <span>Project Manager and developper</span>
             <div class="social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>

         <div class="col-lg-3 col-md-6">
           <div class="member">
             <div class="pic"><img src="img/team-2.jpg" alt=""></div>
             <h4>Belarbi Mohamed</h4>
             <span>Encadreur</span>
             <div class="social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-linkedin"></i></a>
             </div>
           </div>
         </div>


     </div>
   </section><!-- #team -->

   <!--==========================
     Contact Section
   ============================-->
   <section id="contact">
     <div class="container wow fadeInUp">
       <div class="section-header">
         <h3 class="section-title">Contactez nous</h3>
         <p class="section-description">Contactez nous sur ces liens</p>
       </div>
     </div>

     <!-- <div id="google-map" data-latitude="36.7683668" data-longitude="3.012260"></div> -->

     <div class="container wow fadeInUp">
       <div class="row justify-content-center">

         <div class="col-lg-3 col-md-4">

           <div class="info">
             <div>
               <i class="fa fa-map-marker"></i>
               <p>Adresse<br>Alger, Ben Aknoun</p>
             </div>

             <div>
               <i class="fa fa-envelope"></i>
               <p>email@rci.com</p>
             </div>

             <div>
               <i class="fa fa-phone"></i>
               <p>+213 000 000 000</p>
             </div>
           </div>

           <div class="social-links">
             <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
             <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
             <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
             <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
             <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
           </div>

         </div>



       </div>

     </div>
   </section><!-- #contact -->

 </main>

 <!--==========================
   Footer
 ============================-->
 <footer id="footer">
   <div class="footer-top">
     <div class="container">

     </div>
   </div>

   <div class="container">
     <div class="copyright">
       &copy; Copyright <strong>Regna</strong>. All Rights Reserved
     </div>
     <div class="credits">
       <!--
         All the links in the footer should remain intact.
         You can delete the links only if you purchased the pro version.
         Licensing information: https://bootstrapmade.com/license/
         Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
       -->
       Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
     </div>
   </div>
 </footer><!-- #footer -->

 <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="{%static '/home_components/lib/jquery/jquery.min.js'%}"></script>
  <script src="{%static '/home_components/lib/jquery/jquery-migrate.min.js'%}"></script>
  <script src="{%static '/home_components/lib/easing/easing.min.js'%}"></script>
  <script src="{%static '/home_components/lib/wow/wow.min.js'%}"></script>


  <script src="{%static '/home_components/lib/waypoints/waypoints.min.js'%}"></script>
  <script src="{%static '/home_components/lib/counterup/counterup.min.js'%}"></script>
  <script src="{%static '/home_components/lib/superfish/hoverIntent.js'%}"></script>
  <script src="{%static '/home_components/lib/superfish/superfish.min.js'%}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{%static '/home_components/contactform/contactform.js'%}"></script>

  <!-- Template Main Javascript File -->
  <script src="{%static '/home_components/js/main.js'%}"></script>

</body>
</html>
