<div class="modal fade" id="message-box-confirmation"
 tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="box-title"></h5>
          <div>
            <em id="message-box-message">
            </em>
            <input class="btn btn-primary" id="confirm-message-box" type="submit" value="Confirmer"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
