<nav class="navbar navbar-default center-97" id="rci-navbar" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{%url 'post-list'%}">RCI</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    {% if request.user.is_authenticated %}
      {% include "search_bar.html" %}
    {% endif %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if request.user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{request.user.profile.get_absolute_url}}"><i class='fa fa-user'></i>  Profile</a></li>
            <li><a href="{%url 'profile:update'%}"><i class='fa fa-edit'></i>  Modifier mon compte</a></li>
            <li><a id="logout-btn" last-visit-url="{% url 'api-profile:last_visit' %}" href="{% url 'logout' %}"><i class='fa fa-sign-out'></i>  Se déconnecter</a></li>

            {% if request.user.is_staff %}
            <li role="separator" class="divider"></li>
              <li><a href="/admin/"><i class='fa fa-unlock-alt'></i>  Administrer</a></li>
            {% endif %}

          </ul>
        </li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'login' %}">Se connecter</a></li>
          <li><a href="{% url 'register' %}">S'enregistrer</a></li>
      </ul>
      {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
