

<form id='search_form' class="navbar-form navbar-left" method="get" action="{% url 'search' %}">

  <div class="form-group">
    <!-- <label for="q"> Search </label> -->
    <input id='search_input' type="text" name="q" value="{{request.GET.q}}" class="form-control"  placeholder="Votre recherche">
  </div>


  <button id="submit-search-btn" type="submit" class="btn btn-default">Chercher <i class='fa fa-search '></i></button>
</form>
