{% extends "base.html" %}
{% load static %}

{% block page_title %} {{block.super}} Recherche{% endblock page_title %}

{% block title %}Search{% endblock title %}

{% block ajax_script %}

  <script> //Must load list_tweet.js

  $(document).on("ready",function(event){
    $(".search-content").hide();
    $("#post-content").show();

    var fetchDataUrl  = $('#post-container').attr("get-data-url");

    initAjaxListVariables('post-container', fetchDataUrl); //| from ajax_list_functions.js |  init variables
    initPostListDisplay(); // | from ajax_post_functions.js | Fetch posts and display them
    listenToSearches();


  })
  </script>



{% endblock ajax_script %}
{% block content %}

<style>
  .max-width{
    width=100%;
    height=auto;
  }
</style>

  <div class="row">
    <div class="col-sm-2">
      <div id="search-category-navbar" class="inline max-width">
          <!-- <div data-spy="affix"> -->
            <div class="max-width list-group ">
             <a class="active list-group-item">Catégories</a>
             <a id="profile-search-btn" class="list-group-item"href="#">Profils
               <span class="pull-right badge blue-back-color">{{users.count}}</span>
             </a>
             <a id="post-search-btn" href="#" class="list-group-item">Publications
               <span class="pull-right badge blue-back-color"> {{0}}</span>
             </a>
             <a id="hashtag-search-btn" href="#" class="list-group-item">Hashtags
               <span class="pull-right badge blue-back-color">{{tags.count}}</span>
             </a>
             <a id="group-search-btn" href="#" class="list-group-item">Groupes
               <span class="pull-right badge blue-back-color">{{groups.count}}</span>
             </a>
            </div>
          <!-- </div> -->
      </div>
    </div>
    <div class="col-sm-10 ">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-1 ">
          {% if request.GET.q %}
            <p class="lead"> Résultats pour : {{request.GET.q}} </p>
          {% endif %}
        </div>
      </div>
    <hr/>

      <div class="row">
        <div id="post-content" class="media col-sm-10 search-content">
          <div class="media-body">
            <h1> Publications : </h1>
            <hr/>
            <p id="post-container"
                    class='wrap-text'
                    get-data-url="{{fetch_post_url}}">

            </p>
          </div>
        </div>
        <div id="group-content" class = "col-sm-8 col-sm-offset-1 search-content">
            <h1> Groupes : </h1>
            <hr class="right-solid"/>
            {% for group in groups %}
            <a style="text-align:right;" href="{{group.get_absolute_url}}"> {{group.name}}: </a>
            <p>{{group.description}}
            </p>
            <hr class="right-solid">
            {% empty %}
            <h4> Aucun group trouvé. </h4>
            {% endfor %}
        </div>
        <div id="user-content" class = "col-sm-10 search-content">
            <h1> Profils : </h1>
            <hr class="right-solid"/>
            {% for user in users %}
            <div class="row">
              <div class="col-sm-3">
                <a href = "{{user.profile.get_absolute_url}}">
                  <div class="row">
                    <div class="profile-header-container">
                  		<div class="profile-header-img col-sm-2 ">
                        <img class="img-circle" src="{{user.profile.get_img_url}}" />
                        <div class="rank-label-container">
                          <span class="label label-default rank-label"> {{user.username}} </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm-5">
                <a style="text-align:right;" href="{{user.profile.get_absolute_url}}"> {{user.username}} </a>
                <p>
                  Nom    : {{user.last_name}}</br>
                  Prénom : {{user.first_name}}</br>
                  Statut : {{user.profile.status}}</br>
                  E-mail : {{user.email}}</br>
                </p>
              </div>
            </div>
            <hr class="right-solid">

            {% empty %}
            <h4> Aucun utilisateur trouvé. </h4>
            {% endfor %}
        </div>
        <div id="hashtag-content" class = "col-sm-10 search-content">
            <h1> Hashtags : </h1>
            <hr class="right-solid"/>
            {% for tag in tags %}
            <a style="text-align:right;" href="{{tag.get_absolute_url}}"> #{{tag.tag}} </a>
            <hr class="right-solid">
            {% empty %}
            <h4> Aucun hashtag trouvé. </h4>
            {% endfor %}
        </div>
      </div>

    </div>

  </div>


  </br></br>
{% endblock content %}
