
textarea{
  word-break : normal;
}

  hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #c1bfbf00, #8c8b8b, #c1bfbf00);
  background-image: -moz-linear-gradient(left, #c1bfbf00, #8c8b8b, #c1bfbf00);
  background-image: -ms-linear-gradient(left, #c1bfbf00, #8c8b8b, #c1bfbf00);
  background-image: -o-linear-gradient(left, #c1bfbf00, #8c8b8b, #c1bfbf00);
  }

  hr.right-solid {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #8c8b8b, #8c8b8b, #c1bfbf00);
  background-image: -moz-linear-gradient(left, #8c8b8b, #8c8b8b, #c1bfbf00);
  background-image: -ms-linear-gradient(left, #8c8b8b, #8c8b8b, #c1bfbf00);
  background-image: -o-linear-gradient(left, #8c8b8b, #8c8b8b, #c1bfbf00);
  }

  .red-color {
    color : red;
  }
  .grey-color{
    color : #aaa;
  }
  .white-color{
    color : #AAE;
  }
  .green-color{
    color : green;
  }
  .my-color{
    color : #888;
  }
  .blue-color{
    color:#1E90FF;
  }

  .blue-back-color{
    background-color: #0093ff;;
  }

  .image-container{
  height: 200px;
  max-width:300px;
  /* outline: #FFFFFF solid; */
  /* background: red; */
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5px;
  }

  .image-container img{
      width: 100%;
      position: relative;
  }


    /**
     * Profile image component
     */
    .profile-header-container{
        margin: 0 auto;
        text-align: center;
    }


    .profile-header-img > img.img-circle {
        width: 120px;
        height: 120px;
        border: 2px solid #1E90FF;
    }

    .profile-header-img > img.img-min {
        width: 50px;
        height: 50px;
        border: 2px solid #1E90FF;
    }

    .profile-header-img > img.img-square {
        width: 175px;
        height: 175px;
        border: 2px solid #1E90FF;
    }


    /**
     * Ranking component
     */
    .rank-label-container {
        /* margin-top: -19px; */
        /* z-index: 1000; */
        text-align: center;
        width: center;
    }

    .label.label-default.rank-label {
        background-color: #1E90FF;
        padding: 5px 10px 5px 10px;
        border-radius: 27px;
    }

    .label.label-default.profile {
        background-color: #1E90FF;
        padding: 5px 10px 5px 10px;
        font-size: 17px;
        color : black;
        /* border-radius: 27px; */
    }

    html{
      height: 100%;
    }

    body{
      height: 100%;
      background-attachment: fixed;
      background-image: url("../img/background.jpg");
    }


    .container{
      background-color:rgba(230, 230, 256, 0.9);
      border-radius : 25px;
      min-height: 500px;

    }

    .wrap-text{
      overflow-wrap : normal;
    }

    .media-focus{
      background-color: #F4F6CE;
    }
    .top-right-corner{
      position:absolute;
      top:0;
      right:0;
    }
    .top-left-corner{
      position:absolute;
      top:0;
      left:0;
    }
    .rounded{
      border-radius: 1px;
      background-color: rgba(100, 100, 100, 0.1);
      border: 0px;
    }
    .transparent-background{
      background-color: rgba(100, 100, 100, 0);
      border: 0px;
    }
    .bottom-left-corner{
      position:absolute;
      bottom:0;
      right:0;
    }

     a.link-btn:link,  a.link-btn:visited {
        background-color: #3689f4;
        color: white;
        padding: 1px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

     a.link-btn:hover,  a.link-btn:active {
        background-color: #5ba2fc;


    }

    a.group-btn:link,  a.group-btn:visited {
       background-color: rgba(100, 100, 100, 0.1);
       color: black;
       padding: 3px 5px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
   }

    a.group-btn:hover,  a.group-btn:active {
       background-color: #5ba2fc;
       color: white;
   }

   a.transparent-btn:link,  a.transparent-btn:visited {
      background-color: rgba(250, 250, 250, 0.9);
      color: black;
      padding: 3px 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  }

   a.transparent-btn:hover,  a.transparent-btn:active {
      background-color: rgba(250, 250, 250, 0.9);
      /* color: white; */
  }

   .absolute-right{
     position:absolute;

     right:0;

   }

   .scroll-list{
     overflow-y:scroll;
     max-height: 400px;
     -webkit-overflow-scrolling:touch;
   }

   .center-97{
     margin:0 auto;
     max-width:97%;
   }

   div.inline {
      float:left;
    }

    .vertical-menu {
        width: 90px; /* Set a width if you like */
    }

    .vertical-menu a {
        background-color: #eee; /* Grey background color */
        color: black; /* Black text color */
        display: block; /* Make the links appear below each other */
        padding: 12px; /* Add some padding */
        text-decoration: none; /* Remove underline from links */
    }

    .vertical-menu a:hover {
        background-color: #ccc; /* Dark grey background on mouse-over */
    }

    .vertical-menu a.active {
        background-color: #1E90FF; /* Add a green color to the "active/current" link */
        color: white;
    }

    .sticky {
        position: -webkit-sticky;  // required for Safari
        position: sticky;
        top: 0; // required as well.
    }

    .post-img{
      max-height:100%;
      max-width:100%;
    }

    .post-img-zoom{
      height:80%;
      width:80%;
    }

    .list-group-same-size {
      display: inline-flex;
      flex-direction: column;
    }
    .list-group-item-same-size {
      flex: 1;
      border: 1px solid gray;
    }
    .disabled-label{
       color: darkgrey;
    }
    .break-words{
      word-wrap:break-word;
      word-break: break-all;
    }

    .center-width{
      position:absolute;
      top:5%
      bottom:5%
      right:5%
      left:5%
    }
    .stuck{
      position: fixed;
      /* top : 10px; */
      right: 10px;
      bottom: 10px;
      width:180px;
      /* overflow-y: scroll; */
    }
